---
import { format } from "date-fns"

import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

let title = 'Posts'
let description = 'Posts on brycewray.com'

export async function getStaticPaths({ paginate }) {
  let allPosts = await Astro.glob('../posts/**/*.md')
  let sortedPosts = allPosts.sort((a, b) =>
    new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
  )
  // let postsNumber = allPosts.length
  return paginate(sortedPosts, {
    pageSize: 5
  })
}

const { page } = Astro.props

---

<html lang="en">

  <head>
    <Head
      {title}
      {description}
    />
  </head>

  <body>
    <Header />
    <main>
      <div class="container ctr sansSerif">
        <h1 class="posts-Head">Posts</h1>

        <div class="posts-Container">
          <p class="pagerThingP">
            {page.url.prev == null
              ? <>First page</>
              : <><a href="/posts/">First page</a></>
            }
            {page.url.prev
              ? <><a href={page.url.prev}>Previous</a></> : <>Previous</>
            }
            {page.url.next
              ? <><a href={page.url.next}>Next</a></>
              : <>Next</>
            }
            {page.url.next == null
              ? <>Last page</>
              : <><a href=`/posts/${page.lastPage}/`>Last page</a></>
            }
          </p>
          <hr class="paginatorTop" />
          <div class="posts-ItemDiv">
            {page.data.map(post =>
              <h2 class="posts-Title"><a href=`${post.url}/`>{post.frontmatter.title}</a></h2>
              <p class="posts-Description">
                {post.frontmatter.description}
              </p>
              <p class="posts-Dates"><strong>{format(new Date(post.frontmatter.date), "MMMM d, yyyy")}</strong>
                {post.frontmatter.lastmod && (
                  <br /><span class="eightyFive">Last modified {format(new Date(post.frontmatter.lastmod), "MMMM d, yyyy")</span>
                )}
              </p>
            )}
          </div>
          <hr class="paginatorBottom" />
          <p class="pagerThingP">
            {page.url.prev == null
              ? <>First page</>
              : <><a href="/posts/">First page</a></>
            }
            {page.url.prev
              ? <><a href={page.url.prev}>Previous</a></> : <>Previous</>
            }
            {page.url.next
              ? <><a href={page.url.next}>Next</a></>
              : <>Next</>
            }
            {page.url.next == null
              ? <>Last page</>
              : <><a href=`/posts/${page.lastPage}/`>Last page</a></>
            }
          </p>
        </div>
      </div>
    </main>
  </body>

</html>

