---
import '@styles/Shiki.scss'
import '@styles/Global.scss'
import '@styles/Home.scss'

import { format } from "date-fns"

import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

interface MarkdownFrontmatter {
	publishDate: number;
}

let title = 'BryceWray.com';
let description = 'brycewray.com — Observations, opinions, geekery.';
let permalink = 'https://www.brycewray.com/';

let allPosts = await Astro.glob('./posts/**/*.md')
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
let postsNumber = allPosts.length
let latestThree = allPosts.slice(0, 3)
---

<html lang="en">
	<head>
		<Head {title} {description} {permalink} />
	</head>

	<body>
		<Header />
		<div class="wrapper">
			<main class="content">
        <div class="container-home">
          <div class="homeOpen">
            <h1>Welcome&nbsp;to brycewray.com, offering&nbsp;<a href="/about/">its&nbsp;owner</a>&rsquo;s observations, opinions, and&nbsp;geekiness since&nbsp;2018.</h1>
          </div>
          <div class="homePost-Div">
            <div class="post-line"></div>
            <h2 class="homePost-Latest">Latest <a href="/posts/">posts</a></h2>
            <section aria-label="Three most recent posts">
              {latestThree.map((post) => (
                <div>
                  <h2 class="homePost-Title">
                    <a href=`${post.url}/`>{post.frontmatter.title}</a>
                  </h2>
                  <p class="homePost-Description">
                    {post.frontmatter.description}
                  </p>
                  <p class="homePost-Dates">
                    <strong>{format(new Date(post.frontmatter.date), "MMMM d, yyyy")}</strong>
                    {post.frontmatter.lastmod && (
                      <br /><span class="pokey">Last modified {format(new Date(post.frontmatter.lastmod), "MMMM d, yyyy")}</span>
                    )}
                  </p>
                </div>
              ) )}
            </section>
            <p class="homePost-Finish">
              <a href="/posts/"><strong>All {postsNumber} posts</strong></a> <span class="pokey"><em>(listed five per page)</em></span>
            </p>
          </div>
        </div>
			</main>
		</div>
    <Footer />
	</body>
</html>
