---
import { format } from "date-fns"
import Imgc from '@components/Imgc.astro'

const { title, featured_image, featured_image_alt, featured_image_width, featured_image_height, featured_image_caption, description, date, lastmod } = Astro.props;
---

<div class="background-hero-image-div">
  <div class="background-hero-div">
    <Imgc
      url={featured_image}
      alt={featured_image_alt}
      width={featured_image_width}
      height={featured_image_height}
      tmpl="posts"
    />
  </div>
  <div class="background-hero-wrapper-div">
    <div class="background-hero-title-block">
      <h1 class="background-hero-title-text">{title}</h1>
      <p class="background-hero-description-text">{description}</p>
      <p class="background-hero-p-text">
        <strong>{format(new Date(date), "MMMM d, yyyy")}</strong><br />
        {lastmod && (
          <span class="pokey">Last modified {format(new Date(lastmod), "MMMM d, yyyy")}</span>
        ) || (
          <span class="pokey">&nbsp;</span>
        )}
      </p>
      <p class="featured-image-caption">
        {featured_image_caption && (
          <span>
            <Fragment set:html={featured_image_caption} />
          </span>
        ) || (
          <span>&nbsp;</span>
        )}
      </p>
    </div>
  </div>
</div>
