---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Post from '@components/Post.astro'
import Footer from '@components/Footer.astro'
import Billboard from '@components/Billboard.astro'
import PostFeatImg from '@components/PostFeatImg.astro'
import Comments from '@components/Comments.astro'

let allPosts = await Astro.glob('../pages/posts/**/*.md')
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
let postsNumber = allPosts.length

const { content, page } = Astro.props
const { title, subtitle, description, date, lastmod, permalink, featured_image, featured_image_alt, featured_image_width, featured_image_height, featured_image_caption } = content
const thisUrl = new URL(Astro.request.url)
let nextUrl, nextTitle, prevUrl, prevTitle, addSlash = ""
let envMode = import.meta.env.MODE
if (envMode == "production") {
  addSlash = "/"
}
// changes in 1.0.0-beta.18 forced some adjustments here -
// addSlash is "/" in PRODUCTION and
// we add addSlash to thisUrl.pathname, NOT allPosts[x].url (below)
// === otherwise, no match and no prev/next display at bottom
// - 2022-04-27-1442CDT

console.log("thisUrl.pathname = " + thisUrl.pathname)


for(let x = 0; x < postsNumber; x++) {
  if(thisUrl.pathname + addSlash === allPosts[x].url){
    console.log(allPosts[x].url)
    if (x > 0) {
      nextUrl = allPosts[x-1].url
      nextTitle = allPosts[x-1].frontmatter.title
    }
    if (x < postsNumber - 1) {
      prevUrl = allPosts[x+1].url
      prevTitle = allPosts[x+1].frontmatter.title
    }
  }
}

// for(let x = 0; x < allPosts.length; x++) {
//   if(thisUrl.pathname === allPosts[x].url){
//     if (x > 0) {
//       nextUrl = allPosts[x-1].url
//       nextTitle = allPosts[x-1].frontmatter.title
//     }
//     if (x < postsNumber - 1) {
//       prevUrl = allPosts[x+1].url
//       prevTitle = allPosts[x+1].frontmatter.title
//     }
//   }
// }
// console.log("nextUrl = " + nextUrl)
// console.log("prevUrl = " + prevUrl)
// console.log(" ")
// console.log("allPosts = ", allPosts)
// console.log("postsNumber = ", postsNumber)
---

<html lang={content.lang || 'en'}>
	<head>
		<Head {title} {description} {permalink} {featured_image} />
	</head>

	<body>
		<Header />
    <main>
      {featured_image && (
        <PostFeatImg
          featured_image={featured_image}
          featured_image_alt={featured_image_alt}
          featured_image_width={featured_image_width}
          featured_image_height={featured_image_height}
          featured_image_caption={featured_image_caption}
          tmpl="posts"
          title={title}
          description={description}
          date={date}
          lastmod={lastmod}
        />
      ) || (
        <Billboard
          title={title}
          subtitle={subtitle}
          description={description}
          date={date}
          lastmod={lastmod}
        />
      )}
			<Post >
				<slot />
        <div class="contactBtn">
          <button>
            <a href=`mailto:bw@brycewray.com?subject=Re: “${title}”`>
              <svg aria-hidden="true" class="inline" role="img" height="2em" width="2em" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg>&nbsp;&nbsp;<strong>Reply via email</strong>
            </a>
            <noscript><br /><span class="legal">[Requires JavaScript activation,<br />due&nbsp;to <span class="nobrk">Cloudflare bot-blocking]</span></span></noscript>
          </button>
        </div>
        <Comments />
			</Post>
      <div class="bg-dark sansSerif">
        <h3 class="ctr wht prevnextH3"><a href="/posts/" class="border-transparent text-blue-100 hover:text-white">Other posts</a></h3>
        {nextTitle &&
          <p class="ctr prevnextP">
            Next: <a class="next" href={nextUrl}>{nextTitle}</a>
          </p>
        }
        {prevTitle &&
          <p class="ctr prevnextP">
            Previous: <a class="previous" href={prevUrl}>{prevTitle}</a>
          </p>
        }
      </div>
    </main>
    <Footer />
	</body>
</html>
