---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Post from '@components/Post.astro'
import Footer from '@components/Footer.astro'
import Billboard from '@components/Billboard.astro'
import PostFeatImg from '@components/PostFeatImg.astro'

export async function getStaticPaths({ paginate }) {
  let allPosts = await Astro.glob('../pages/posts/**/*.md')
  let sortedPosts = allPosts.sort((a, b) =>
    new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
  )
  // let postsNumber = allPosts.length
  return paginate(sortedPosts, {
    pageSize: 1
  })
}

const { content, page } = Astro.props
const { title, subtitle, description, date, lastmod, permalink, featured_image, featured_image_alt, featured_image_width, featured_image_height, featured_image_caption } = content
console.log(page)
---

<html lang={content.lang || 'en'}>
	<head>
		<Head {title} {description} {permalink} />
	</head>

	<body>
		<Header />
      {featured_image && (
        <PostFeatImg
          featured_image={featured_image}
          featured_image_alt={featured_image_alt}
          featured_image_width={featured_image_width}
          featured_image_height={featured_image_height}
          featured_image_caption={featured_image_caption}
          tmpl="posts"
          title={title}
          subtitle={subtitle}
          description={description}
          date={date}
          lastmod={lastmod}
        />
      ) || (
        <Billboard
          title={title}
          subtitle={subtitle}
          description={description}
          date={date}
          lastmod={lastmod}
        />
      )}
			<Post >
				<slot />
			</Post>
      <p class="ctr"><strong>Test</strong>: Value of variable = {}</p>
      <div class="bg-dark sansSerif">
        <h3 class="ctr wht prevNextH3"><a href="/posts/" class="border-transparent text-blue-100 hover:text-white">Other posts</a></h3>
        <p class="ctr prevNextP">
          Next: <a class="next" href={'#'}>Title</a>
        </p>
        <p class="ctr prevNextP">
          Previous: <a class="previous" href={'#'}>Title</a>
        </p>
      </div>
    <Footer />
	</body>
</html>
