---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Post from '@components/Post.astro'
import Footer from '@components/Footer.astro'
import Billboard from '@components/Billboard.astro'
import PostFeatImg from '@components/PostFeatImg.astro'

let allPosts = await Astro.glob('../pages/posts/**/*.md')
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
let postsNumber = allPosts.length
// let latestThree = allPosts.slice(0, 3)

const { content, page } = Astro.props
const { title, subtitle, description, date, lastmod, permalink, featured_image, featured_image_alt, featured_image_width, featured_image_height, featured_image_caption } = content
// const thisReq = Astro.request
const thisUrl = new URL(Astro.request.url)
let nextUrl, nextTitle, prevUrl, prevTitle, x = ""
// console.log("page = ", page)

// console.log(thisReq)
console.log("  ")
console.log("* * * * * * * *")
console.log("thisUrl.pathname = " + thisUrl.pathname)
for(x = 0; x < postsNumber; x++) {
  console.log("===============")
  console.log("Post " + x + " - URL object = " + allPosts[x].url + " - " + allPosts[x].frontmatter.title)
  if(thisUrl.pathname === allPosts[x].url){
    // console.log("** That's THIS post **")
    if (x > 0) {
      nextUrl = allPosts[x-1].url
      nextTitle = allPosts[x-1].frontmatter.title
    }
    if (x < postsNumber - 1) {
      prevUrl = allPosts[x+1].url
      prevTitle = allPosts[x+1].frontmatter.title
    }
  }
}
// for(let x = 0; x < allPosts.length; x++) {
//   if(thisUrl.pathname === allPosts[x].url){
//     if (x > 0) {
//       nextUrl = allPosts[x-1].url
//       nextTitle = allPosts[x-1].frontmatter.title
//     }
//     if (x < postsNumber - 1) {
//       prevUrl = allPosts[x+1].url
//       prevTitle = allPosts[x+1].frontmatter.title
//     }
//   }
// }
console.log("nextUrl = " + nextUrl)
console.log("prevUrl = " + prevUrl)
console.log(" ")
// console.log("allPosts = ", allPosts)
console.log("postsNumber = ", postsNumber)

---

<html lang={content.lang || 'en'}>
	<head>
		<Head {title} {description} {permalink} />
	</head>

	<body>
		<Header />
      {featured_image && (
        <PostFeatImg
          featured_image={featured_image}
          featured_image_alt={featured_image_alt}
          featured_image_width={featured_image_width}
          featured_image_height={featured_image_height}
          featured_image_caption={featured_image_caption}
          tmpl="posts"
          title={title}
          subtitle={subtitle}
          description={description}
          date={date}
          lastmod={lastmod}
        />
      ) || (
        <Billboard
          title={title}
          subtitle={subtitle}
          description={description}
          date={date}
          lastmod={lastmod}
        />
      )}
			<Post >
				<slot />
			</Post>
      <div class="bg-dark sansSerif">
        <h3 class="ctr wht prevNextH3"><a href="/posts/" class="border-transparent text-blue-100 hover:text-white">Other posts</a></h3>
        {nextUrl &&
          <p class="ctr prevNextP">
            Next: <a class="next" href=`${nextUrl}/`>{nextTitle}</a>
          </p>
        }
        {prevUrl &&
          <p class="ctr prevNextP">
            Previous: <a class="previous" href=`${prevUrl}/`>{prevTitle}</a>
          </p>
        }
      </div>
    <Footer />
	</body>
</html>
