---
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Post from '@components/Post.astro';

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;
---

<html lang={content.lang || 'en'}>
	<head>
		<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"/>-->
		<Head {title} {description} {permalink} />
	</head>

	<body>
		<Header />
		<div class="wrapper">
			<Post {title} {author} {heroImage} {publishDate} {alt}>
				<slot />
			</Post>
		</div>
	</body>
</html>
