---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Single from '@components/Single.astro'
import Footer from '@components/Footer.astro'
import Billboard from '@components/Billboard.astro'

const { content, page } = Astro.props
const { title, subtitle, description, date, lastmod, permalink, featured_image, featured_image_alt, featured_image_width, featured_image_height, featured_image_caption } = content

---

<html lang={content.lang || 'en'}>
	<head>
		<Head {title} {description} {permalink} />
	</head>

	<body>
		<Header />
    <main>
      <Billboard
        title={title}
        subtitle={subtitle}
        description={description}
        date={date}
        lastmod={lastmod}
      />
			<Single >
				<slot />
			</Single>
    </main>
    <Footer />
	</body>
</html>
